.MapListSwitch {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  margin-top: 0.35em;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  background-color: #0BCE83;
  color: #fff;
}